{% extends "main.html" %}
{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block content %}

	<!-- color picker from jscolor.com -->
	<script src="{{ url_for('static', filename='jscolor.min.js') }}"></script>
	<script>
		$( document ).ready( function() {
			$( ".jscolor" ).change( function() {
				var setColor = $(".jscolor").val();
				// alert ( setColor );
				$ ( 'h1' ).css('color', '#' + setColor);
			});
		});

	</script>
	<div class="row banner menu">
		<div class="row banner menu img-rounded" style="background-image: url('{{ url_for('show_file', id = catalog.id, type = 'header_image') }}')">
			<h1>Edit {{catalog.name}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">

			<form action="#" method = "post" enctype="multipart/form-data" >
				<div class="form-group">
					<h3 ><label for="name">Rename the catalog:</label></h3>
					<input type="text" class="form-control" name="name" value="{{catalog.name }}">
				</div>

				<div class="form-group">
					<h3><label for="header-color">Change header color:</label></h3>
					<input class="jscolor" type="text" name="header_color" maxlength="6" value="{{catalog.header_color}}">
				</div>

				<div class="form-group">
					<h3><label for="use-thumnail">Select catalog type:</h3>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary btn-block {% if catalog.catalog_image_type ==  'item_image_tn' %} active {% endif %} >">
							<input type="radio" name="catalog_image_type" value="item_image_tn"
								{% if catalog.catalog_image_type ==  'item_image_tn' %} checked {% endif %} >
							Use thumbnails with links to full size images. <br />
						</label>
						<label class="btn btn-primary btn-block {% if catalog.catalog_image_type ==  'item_image' %} active {% endif %} >">
							<input type="radio" name="catalog_image_type" value="item_image"
								{% if catalog.catalog_image_type ==  'item_image' %} checked {% endif %} >
							Use full-size image - no thumbnails or links.
						</label>
					</div>

				<div class="form-group">
					{% if catalog.header_image %}
						<h3><label for="upload">Replace current header image:</label></h3>
						<img
							src="{{url_for('show_file', id=catalog.id, type='header_image_tn')}}"
							class="img-reponsive center-block"
							>
					{% else %}
						<h3><label for="upload">Upload header image:</label></h3>
					{% endif %}
					{# browse button #}
					<input class="btn btn-lg btn-block" type='file' name='file'>					
					{# submit #}
					<button type="submit" class="btn btn-lg btn-block btn-primary" id="submit" type="submit">
						<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Submit Changes
					</button>
					{# cancel #}
					<a href='{{url_for('showCatalog', catalog_id = catalog.id)}}'>
						<button type="button" class="btn btn-default btn-block delete">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel
						</button>
					</a>
				</div>
			</form>

		</div>
	</div>
{% endblock %}
